[submodule "external/fork_arrest_scripts"]
	path = external/fork_arrest_scripts
	url = https://github.com/DNAReplicationLab/fork_arrest.git
[submodule "fork_arrest_scripts"]
	path = fork_arrest_scripts
	url = https://github.com/DNAReplicationLab/fork_arrest
